extends layout

block content
	div.container
		br
		br
		br
		br
		div.row
			div.col-12.col-sm-12.breadcrum
				p here comes the breadcrum / posts / things / yo
		
		div.row
			div#posts.col-12.col-md-12.col-lg-8
				div.border
					img.imgLatest(src="images/800x450.png")
					p.headertag HEALTH
					h4.titlePosts <strong> Receipe: </strong> This is a salmon pie from heaven
					p.smallinfo by username, 27-10-2017 | 0 comments | x min read
					p.textPosts  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil libero labore, beatae veritatis error sint, nesciunt deleniti aut explicabo architecto accusantium ut, omnis ducimus, similique cupiditate consectetur id placeat reiciendis iure sit perspiciatis? Accusamus, nisi sapiente similique ullam totam reiciendis obcaecati deleniti magni voluptatem, quod consectetur mollitia harum incidunt, nobis vitae libero illum voluptate placeat molestiae doloremque perferendis eaque! Rem quod, dolorem ratione minima accusantium eveniet atque incidunt, adipisci minus cupiditate qui. Eius tempore quod ab iste quia autem. Exercitationem voluptas, velit deleniti eaque repellat saepe error modi, tempore natus explicabo, placeat odit sapiente, odio eligendi iure reiciendis. Ad laboriosam ipsa, similique eveniet quasi incidunt vel laborum asperiores tenetur eos debitis recusandae nihil consectetur doloribus necessitatibus nostrum aliquam tempora, odio aut ex, in. Voluptates necessitatibus porro dolore nisi, facere reiciendis impedit, ut quam beatae animi ad. Ullam eum cumque iste adipisci accusamus sed doloribus obcaecati at odit incidunt pariatur aspernatur, minima reprehenderit! Quia, temporibus tenetur, dolorum culpa eos placeat aperiam maxime architecto, laboriosam nostrum iusto maiores voluptatibus sunt a aliquid. Atque dolor quasi, eum, perspiciatis tempora similique cupiditate. Fugit et nesciunt doloremque eligendi obcaecati quos! Quisquam porro repellendus maxime optio voluptas dignissimos modi maiores officiis, illum quia adipisci nostrum pariatur, tenetur eveniet. Perferendis totam beatae, placeat ratione ipsa corporis maiores minus error. Repudiandae error, eos! Harum ab eum debitis magni, voluptate quos, quod laudantium doloribus minus quis, accusantium sit obcaecati eligendi nesciunt eius cum? Necessitatibus nam blanditiis atque numquam, molestiae quisquam aliquam tempora labore autem enim distinctio repudiandae aspernatur laboriosam, architecto vero laborum, sapiente recusandae nihil! Architecto esse dolor voluptatem, voluptas veniam perferendis minus eius consectetur sint fugiat voluptate iure quo iusto porro eum. Nobis dignissimos error natus ipsa fugit blanditiis eligendi dicta ratione atque quia reprehenderit, tenetur necessitatibus, cumque aspernatur illum qui sunt similique, accusantium nisi temporibus id ducimus porro earum beatae molestias. Numquam inventore excepturi assumenda ad fugit harum, quibusdam doloremque repellendus nostrum modi vitae, laborum praesentium, cumque unde ullam nulla? Quisquam sapiente in voluptates quas, facilis debitis consectetur blanditiis explicabo hic fugit officia vitae saepe magni sunt deserunt minima, temporibus veniam eveniet cum enim! Voluptas aliquam eius sequi iusto explicabo dolorum vitae, debitis dicta odio alias officiis nostrum quis pariatur fugit aliquid aut molestiae cumque voluptatibus numquam nisi consequuntur commodi culpa accusamus corporis. Sequi libero aperiam dignissimos voluptas maxime ipsum minima eaque quidem, ex perspiciatis consectetur in, sit. Itaque praesentium, veniam, aliquid beatae dolor sunt ad laudantium assumenda eligendi, quam placeat corrupti error iure repellendus non sequi repudiandae voluptatibus molestiae aliquam quas minima illum possimus a voluptatum! Eveniet sint possimus esse fuga? Tempore, sapiente aliquid alias quisquam laboriosam doloremque eligendi quia adipisci. Inventore eius recusandae adipisci sit impedit placeat quae sed voluptate officiis doloremque quaerat dicta dolor optio repudiandae nesciunt, illo obcaecati! Excepturi cupiditate quae labore exercitationem, harum expedita ipsam libero atque maxime dignissimos possimus quam. Blanditiis, sint, soluta magni dolore quod veritatis facere facilis non sequi cupiditate, alias similique odit, voluptas quibusdam ipsam. Saepe cum rem harum aliquam inventore rerum non, voluptas, quisquam laborum eos facere.
					div
						btn.btn.btn-light.hottags #glutenfree
						btn.btn.btn-light.hottags #healty
						btn.btn.btn-light.hottags #sugarfree	
				
			div.col-12.col-lg-4
				div.row
					div.col-sm-12.col-md-6.col-lg-12
						h4 About this author
						img(src="images/300x300.png")
						br
						br
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt mollitia ducimus, accusantium fugit commodi ut esse et enim unde neque, maxime odio cumque corrupti molestiae ea vitae, veniam sequi corporis magnam autem dignissimos eaque similique officia nulla perspiciatis.
					div.col-sm-12.col-md-6.col-lg-12
						hr 
						H4 Something can go here too
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt eligendi sapiente fuga aspernatur rem sit accusantium temporibus. Unde neque, pariatur minima soluta possimus temporibus quia. Eaque, necessitatibus voluptates autem. Provident.
						hr
						br
						H4 Something can go here too
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt eligendi sapiente fuga aspernatur rem sit accusantium temporibus. Unde neque, pariatur minima soluta possimus temporibus quia. Eaque, necessitatibus voluptates autem. Provident.

		div.row
			div.col-12.col-lg-12
			br
			h4 Related posts (slider option here?)
		div.row
			div#yo.col-sm-12.col-md-4.col-lg-4
				img.imgRelatedPosts(src="images/350x220.png")
				p.headertag HEALTH, VEGAN
				h4.titlePosts A list of egg-substitutes for different occasions
				p.smallinfo by username, 27-10-2017 | 0 comments | x min read
			div#yo.col-sm-12.col-md-4.col-lg-4
				img.imgRelatedPosts(src="images/350x220.png")
				p.headertag HEALTH, VEGAN
				h4.titlePosts A list of egg-substitutes for different occasions
				p.smallinfo by username, 27-10-2017 | 0 comments | x min read
			div#yo.col-sm-12.col-md-4.col-lg-4
				img.imgRelatedPosts(src="images/350x220.png")
				p.headertag HEALTH, VEGAN
				h4.titlePosts A list of egg-substitutes for different occasions
				p.smallinfo by username, 27-10-2017 | 0 comments | x min read

		div.row
			div.col-12.col-lg-12
			br
			h4 Comments
		div.row
			div#yo.col-sm-12.col-md-8.col-lg-8
				br
				div
					img.imgUser(src="images/70x70.png")
					h5 Username
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem maxime quae, cumque, doloremque est at praesentium voluptates corporis possimus autem?! 
					p.smallDate Posted 27-10-2017
					hr
				div
					img.imgUser(src="images/70x70.png")
					h5 Username
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem maxime quae, cumque, doloremque est at praesentium voluptates corporis possimus autem?! 
					p.smallDate Posted 27-10-2017
					hr
				div#commentbox
					h4 Leave a reply
					//- if session
					form
						div.form-group
						textarea(name="comment" class="form-control" placeholder="What are your thoughs on this post?" rows="5")
						br
						button.btn.btn-info(type="submit") Add comment
					br
					//- else
						p You need to be logged in to post a comment. You can do so
							a(href="#")  here.
						button.btn.btn-info(disabled) Add comment

			div.col-sm-12.col-md-4.col-lg-4
				div.subscribeContainer
					img.imgSubscribe(src="images/300x500.png")
					div.textSubscribe
						h4 Subscribe
						p Subscribe now so you never have to miss any of these amazing receipes!
						form(action="/subscribe", method="post" autocomplete="off")
							div.form-group.formSubscribe
								input.subscribe(type="email" class="form-control" aria-describedby="emailHelp" placeholder="Enter emailaddress")
								button.btnSubscribe.btn.btn-info(type="submit") Subscribe
						


